<!DOCTYPE html>
<head>
    <title>
        ESP8266 Irrigation Controller
    </title>
</head>

<body>
    <div>
        Status: <span id="status"></span>
    </div>
    <button id="button">Loading...</button>
</body>